
<div class="page normal" data-template="page.html.twig">


  <header>
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  <div class="content">
    
    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

  </div>

  <footer>
    {{ page.footer }}
  </footer>

</div> 
