<%
/* global reqParams */
/* global bookingRes */
%>

<div class="booking-success">
 
  <div class="e-ticket confirmation">
    <div class="confirm-code">
      <div class="success ti">E-Ticket</div>
      <div class="wrapper">
        <span class="label-ti">Reservation Code</span>
        <span class="number"><%= bookingRes.PNR %></span>
      </div>
      <div class="wrapper">
        <span class="label-ti">Ticket Number</span>
        <span class="number"><!-- no number yet <%= bookingRes.ReferenceNumber %> -->008833</span>
      </div>
      
    </div>
  </div>
  
  <div class="confirm-message">
    <div class="thanks">Thank you for choosing Avaea!</div>
    <div class="copy">
      You're all set for your next trip. Your ticket has been issued as an electronic ticket.
      Please check your email for confirmation.
    </div>
  </div>
  
  <!-- ------------- REACT FLIGHT UNIT ------------ -->
  <!-- -------------------------------------------- -->
  
  <!-- script for the React flight unit -->
  
  <script>
  var ItineraryData = <%- JSON.stringify(order[0]) %>;
  var InitResultData = {iconSpriteMap: []};
  </script>
  
  <div class="trip ti">Trip Details</div>
  
  <!-- <div class="flight-unit"> -->
  
    <!-- here is the div that the React unit replaces  -->
    <!-- <div id="booked-flight-unit" class="booked-flight-unit"></div>
  
  </div>  -->
  
  <!-- -------------------------------------------- -->
  <!-- --------- ENDS REACT FLIGHT UNIT ----------- -->
  
  
  <!-- --------------- static flight unit ------------- -->

  <div id="f8bda91c-6dc7-46d1-bac2-1cdd047b8a5c"
    class="col-xs-12 itinerary price_tile_0 duration_tile_2 departure_tile_3 arrival_tile_3 destination_departure_tile_1 source_arrival_tile_1 airline_tile_Delta_Air_Lines merchandising_tile_wifi recommended">
    <div class="row title">
      <div class="col-xs-12 itinerary-airline col-from-to">
        <span class="itinerary-airline-icon" alt="DL" title="Delta Air Lines" style="background-position: 0px -1170px;"></span><span
          class="airline-text">Delta Air Lines</span><span class="static-price">$143</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9" id="f8bda91c-6dc7-46d1-bac2-1cdd047b8a5c">
        <div class="itinerary-info">
          <div class="col-xs-3 departLoc">04:39p SJC</div>
          <div class="col-xs-2 connections text-center">
            <span class="arr-connects"><span class="connections">1</span></span>
          </div>
          <div class="col-xs-3 arriveLoc">09:23p SAN</div>
          <div class="col-xs-3 duration">4h 44m</div>
        </div>
        <div class="itinerary-info">
          <div class="col-xs-3 departLoc">10:15a SAN</div>
          <div class="col-xs-2 connections text-center">
            <span class="arr-connects"><span class="connections">1</span></span>
          </div>
          <div class="col-xs-3 arriveLoc">04:04p SJC</div>
          <div class="col-xs-3 duration">5h 49m</div>
        </div>
      </div>
      <div class="col-xs-3 buy-button">
        <div class="btn-group text-nowrap buy-button-group">
          <button id="buy-button-i" class="btn btn-sm btn-primary buy-button-price">$143</button>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle buy-button-arrow" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a id="buy-cron-button-" href="#" class="our-dropdown text-center">or better</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row notable-area">
      <div class="section">
        <div class="row title">
          <div class="col-xs-3 direction">Depart</div>
          <div class="col-xs-9 extras">
            <ul class="merchandising"></ul>
          </div>
        </div>
        <div class="details">
          <!-- react-text: 2292 -->
          <!-- /react-text -->
          <div class="row details info">
            <div class="col-xs-3 text-nowrap notable-text detail-col flight-no">
              <span class="itinerary-airline-icon" alt="DL" title="Delta Air Lines"
                style="background-position: 0px -1170px;"></span><span class="flightNumber">DL4603</span>
            </div>
            <div class="col-xs-2 text-nowrap detail-col date">01 Oct</div>
            <div class="col-xs-2 text-nowrap detail-col dest">SJC SLC</div>
            <div class="col-xs-3 text-nowrap notable-text detail-col times">04:39p-07:39p</div>
            <div class="col-xs-2 text-nowrap detail-col length">
              <span>2h</span>
              <!-- react-text: 2302 -->
              <!-- /react-text -->
            </div>
          </div>
        </div>
        <div class="details">
          <div class="row switch-planes">
            <div class="detail-col change-planes">Change planes</div>
            <div class="switch-loc">SLC</div>
            <div class="wait-time">46m</div>
          </div>
          <div class="row details info">
            <div class="col-xs-3 text-nowrap notable-text detail-col flight-no">
              <span class="itinerary-airline-icon" alt="DL" title="Delta Air Lines"
                style="background-position: 0px -1170px;"></span><span class="flightNumber">DL2546</span>
            </div>
            <div class="col-xs-2 text-nowrap detail-col date">01 Oct</div>
            <div class="col-xs-2 text-nowrap detail-col dest">SLC SAN</div>
            <div class="col-xs-3 text-nowrap notable-text detail-col times">08:25p-09:23p</div>
            <div class="col-xs-2 text-nowrap detail-col length">
              <span>1h 58m</span>
              <!-- react-text: 2317 -->
              <!-- /react-text -->
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="row title">
          <div class="col-xs-3 direction">Return</div>
          <div class="col-xs-9 extras">
            <ul class="merchandising">
              <li><span class="gicon wifi" title="WiFi"></span></li>
            </ul>
          </div>
        </div>
        <div class="details">
          <!-- react-text: 2326 -->
          <!-- /react-text -->
          <div class="row details info">
            <div class="col-xs-3 text-nowrap notable-text detail-col flight-no">
              <span class="itinerary-airline-icon" alt="DL" title="Delta Air Lines"
                style="background-position: 0px -1170px;"></span><span class="flightNumber">DL56</span>
            </div>
            <div class="col-xs-2 text-nowrap detail-col date">14 Oct</div>
            <div class="col-xs-2 text-nowrap detail-col dest">SAN SLC</div>
            <div class="col-xs-3 text-nowrap notable-text detail-col times">10:15a-01:12p</div>
            <div class="col-xs-2 text-nowrap detail-col length">
              <span>1h 57m</span>
              <!-- react-text: 2336 -->
              <!-- /react-text -->
            </div>
          </div>
        </div>
        <div class="details">
          <div class="row switch-planes">
            <div class="detail-col change-planes">Change planes</div>
            <div class="switch-loc">SLC</div>
            <div class="wait-time">1h 53m</div>
          </div>
          <div class="row details info">
            <div class="col-xs-3 text-nowrap notable-text detail-col flight-no">
              <span class="itinerary-airline-icon" alt="DL" title="Delta Air Lines"
                style="background-position: 0px -1170px;"></span><span class="flightNumber">DL4603</span>
            </div>
            <div class="col-xs-2 text-nowrap detail-col date">14 Oct</div>
            <div class="col-xs-2 text-nowrap detail-col dest">SLC SJC</div>
            <div class="col-xs-3 text-nowrap notable-text detail-col times">03:05p-04:04p</div>
            <div class="col-xs-2 text-nowrap detail-col length">
              <span>1h 59m</span>
              <!-- react-text: 2351 -->
              <!-- /react-text -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ends static flight unit -->
  

  <div class="help-contact">
    <span class="copy">Need help?</span>
    <span class="contact">(000) 000-0000</span>
  </div>

  <!-- 
  <div class="buttons">
    <button class="big-button" onclick="window.location.href='/order?id=<%= reqParams.id %>&searchId=<%= reqParams.searchId %>'">
      Buy More
    </button> 
  </div>
   -->

</div>

