<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= (typeof head_title != 'undefined') ? head_title :__('Avaea Agent') %></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <meta http-equiv='Content-Language' content='en-US' />
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

  <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css">

  <!--STYLES-->

  <!--STYLES END-->

  <script type="application/javascript">
    var uaMobile = <%- isMobile %>;
  </script>
</head>


    <body class="<% if (typeof searchResult != 'undefined' && searchResult.length) {%>search-result <% } %><%= (isMobile) ? 'touch ' + mobileDevice : 'desktop'%>">
      <div class="desktop-wrapper">
        <div class="desktop-inner">

          <div id="main" class="main container-fluid clearfix">

            <% // Rename errors var to the tmp_errors temporary. For displaying error for booking
            if (typeof tmp_errors != 'undefined') {  %>
              <% tmp_errors.forEach(function (error) { %>
                <div class="warning" role="alert"><%= __(error) %></div>
              <% }); %>
            <% } %>

            <%- body %>
          </div>

          <!--

            Client-side Javascript
            ========================

          -->

        <!--SCRIPTS-->

        <!--SCRIPTS END-->

        <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <!-- adding hammer.js library with jquery support -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/hammerjs/jquery.hammer.js/master/jquery.hammer.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/vladmu/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js"></script>
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>-->
      </div>
    </div>
  </body>
</html>
