<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= (typeof head_title != 'undefined') ? head_title :__('Avaea Agent') %></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <meta http-equiv='Content-Language' content='en-US' />
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

  <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/vladmu/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.av.css">

  <!--STYLES-->

  <!--STYLES END-->

  <script type="application/javascript">
    var uaMobile = <%- isMobile %>;
  </script>
</head>

    <body class="<%= (isMobile) ? 'touch ' + mobileDevice : 'desktop'%>">
      <div class="desktop-wrapper">
        <div class="desktop-inner">

          <div id="main" class="main container-fluid clearfix">

            <% // Rename errors var to the tmp_errors temporary. For displaying error for booking
            if (typeof tmp_errors != 'undefined') {  %>
              <% tmp_errors.forEach(function (error) { %>
                <div class="warning" role="alert"><%= __(error) %></div>
              <% }); %>
            <% } %>

            <%- body %>
          </div>

          <!--

            Client-side Javascript
            ========================

          -->

        <!--SCRIPTS-->

        <!--SCRIPTS END-->

        <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <!-- adding hammer.js library with jquery support -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/hammerjs/jquery.hammer.js/master/jquery.hammer.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/vladmu/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js"></script>
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>-->
        <script type="text/javascript">
          !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
            analytics.load("<%= sails.config.segmentio_key %>");
            analytics.page()

          }}();
          <% if ( (typeof user != 'undefined') && user ) { %>
          analytics.identify( <%= user.id %>, {email: '<%= user.email %>'} );
          <% } %>
        </script>
      </div>
    </div>

      <% if ( (typeof showUnsupportedAlert != 'undefined') && showUnsupportedAlert ) { %>
      <div id="unsupportedAlert" class="modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              Your browser is not yet supported, and you may encounter errors if you continue. Please use Chrome for now.
            </div>
            <div class="buttons-bar single">
              <button type="button" class="big-button secondary" onClick="$('#unsupportedAlert').modal('hide');">Got It</button>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
          $('#unsupportedAlert').modal();
        });
      </script>
      <% } %>
  </body>
</html>
