<%
/* global reqParams */
  var orderPrice;
%>
<form action="/booking?searchId=<%= reqParams.searchId %>" method="post" id="form_booking">

  <div id="searchResultData" class="row">
    <% iterator = 0; %>
    <% if (order.length) { %>
    <% order.forEach(function (sRes, i) {
      orderPrice = (sRes.currency == 'USD') ? "$"+sRes.price : sRes.price +' '+ sRes.currency;
    %>
    <div id="<%= sRes.id %>" for="cli<%= i %>" class="col-xs-12 itinerary <%= sRes.filterClass %>" smart="<%= sRes.smartRank %>">

      <div class="row">
        <div class="col-xs-9 itinerary-airline">
          <img class="airlineIcon" src="/images/airlines/unknown.png" alt="<%= sRes.citypairs[0].from.airlineCode %>" title="<%= sRes.citypairs[0].from.airline %>" data-code="<%= sRes.citypairs[0].from.airlineCode %>" data-name="<%= sRes.citypairs[0].from.airline %>" >
          <span><%= sRes.citypairs[0].from.airline %> </span>
        </div>
        <div class="col-xs-3 text-right itinerary-price">
          <%= orderPrice %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-11">
          <% sRes.citypairs.forEach(function (pair) { %>
          <div class="itinerary-info">
            <div class="col-xs-3 text-right">
              <%= pair.from.time %> <%= pair.from.code %></div>
            <div class="col-xs-2 text-center"><% if (pair.noOfStops > 0) { %><span class="visible-xs-inline">&rarr;<%= pair.noOfStops %></span><% } %>&rarr;</div>
            <div class="col-xs-4"><%= pair.to.time %> <%= pair.to.code %></div>
            <div class="col-xs-3"><%= pair.duration %></div>
          </div>
          <% }); %>
        </div>
      </div>

      <div class="row collapse" id="cli<%= i %>"><div class="col-xs-12"><% sRes.citypairs.forEach(function (pair, c) { %>
      <div class="row" style="margin-top: 4px;">
        <div class="col-sm-12">
          <strong><%= pair.direction %></strong>
        </div>
      </div>
      <% pair.flights.forEach(function (flight, j) { %>
      <% if (j > 0) {%>
      <div class="row" style="margin-top: 4px;">
        <div class="col-xs-6 text-nowrap">&#10162; <%= __('Change planes') %></div>
        <div class="col-xs-2"><%= pair.stops[j-1].code %></div>
        <div class="col-xs-4 text-right"><%= pair.stops[j-1].duration %></div>
      </div>
      <% } %>
      <div class="row" style="margin-top: 4px;">
        <div class="col-xs-3 text-nowrap"><strong>&#9992; <%= flight.abbrNumber %></strong></div>
        <div class="col-xs-5"><strong><%= flight.airline %></strong></div>
        <div class="col-xs-4 text-right"><%= flight.duration %><% if (flight.noOfStops > 0) { %>
          <span class="hidden-xs small text-danger">+<%= flight.noOfStops + (parseInt(flight.noOfStops) > 1 ? __(' stops') : __(' stop')) %></span>
        <% } %></div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>&#8599; <%= flight.from.time %></strong></div>
        <div class="col-xs-3"><%= sails.moment(flight.from.date).format('MM/DD/YYYY') %></div>
        <div class="col-xs-3"><%= flight.from.code %></div>
      </div><% if (flight.noOfStops > 0) { %><% flight.stops.forEach(function (stop) { %>
      <div class="row">
        <div class="col-xs-6 text-nowrap">&#9675; <%= __('Intermediate stop') %></div>
        <div class="col-xs-2"><%= stop.code %></div>
        <div class="col-xs-4 text-right"><%= stop.duration %></div>
      </div><% }); %><% } %>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>&#8600; <%= flight.to.time %></strong></div>
        <div class="col-xs-3"><%= sails.moment(flight.to.date).format('MM/DD/YYYY') %></div>
        <div class="col-xs-3"><%= flight.to.code %></div>
      </div>

      <% if (flight.merchandising && flight.merchandising.length) { %>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-xs btn-info btn-block mymorebutton" id="mymorebtn<%= iterator %>_<%= c %>" role="button" for="<%= iterator %>_<%= c %>"><%= __('more') %></button>
        </div>
      </div>
      <div class="row hidden mymorecontent<%= iterator %>_<%= c %>">
        <div class="panel panel-default">
          <div class="panel-heading">Merchandising Information</div>
          <div class="panel-body">
            <ul>
              <% flight.merchandising.forEach(function (item) { %>
              <li><%= item %></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
      <% } %>
      <% }); %>
    <% }); %></div></div>

      <% iterator++ %>
    </div>
    <% }); %>
    <% } %>
  </div>
  <div class="row hidden" id="user-time-limit-target-div">
    <div class="col-xs-12">* Time limit for getting the fare is <span id="user-time-limit-target"></span> day(s).</div>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Billing data
        </a>
      </h4>
    </div>

    <div class="panel-body">

      <input type="hidden" name="id" value="<%= reqParams.id %>">

      <div>
        <label class="control-label">First Name</label>
        <input type="text" name="FirstName" class="form-control input-sm" placeholder="First Name" value="<%= reqParams.FirstName ? reqParams.FirstName : '' %>">
      </div>

      <div>
        <label class="control-label">Last Name</label>
        <input type="text" name="LastName" class="form-control input-sm" placeholder="Last Name"  value="<%= reqParams.LastName ? reqParams.LastName : '' %>">
      </div>

      <div>
        <label class="control-label">Gender</label>
        <%- _res = widgets.dropDownList(reqParams, "Gender", Profile.attr_gender, {"class": "form-control input-sm"}) %>
      </div>

      <div>
        <label class="control-label">Birthday</label>
        <input type="date" name="DateOfBirth" class="form-control input-sm" placeholder="YYYY-MM-DD" maxlength="10" value="<%= reqParams.DateOfBirth ? reqParams.DateOfBirth : '' %>">
      </div>

      <div>
        <label class="control-label">Passenger Type</label>
        <%- _res = widgets.dropDownList(reqParams, "PaxType", Profile.attr_pax_type, {"class": "form-control input-sm"}) %>
      </div>

      <div>
        <label class="control-label">Address</label>
        <input type="text" name="Address1" class="form-control input-sm" value="<%= reqParams.Address1 ? reqParams.Address1 : '' %>">
      </div>

      <div>
        <label class="control-label">City</label>
        <input type="text" name="City" class="form-control input-sm" value="<%= reqParams.City ? reqParams.City : '' %>">
      </div>

      <div>
        <label class="control-label">State</label>
        <input type="text" name="State" class="form-control input-sm" value="<%= reqParams.State ? reqParams.State : '' %>">
      </div>

      <div>
        <label class="control-label">Zip Code</label>
        <input type="text" name="ZipCode" class="form-control input-sm" value="<%= reqParams.ZipCode ? reqParams.ZipCode : '' %>">
      </div>

      <div>
        <label class="control-label">Country</label>
        <input type="text" name="Country" class="form-control input-sm" value="<%= reqParams.Country ? reqParams.Country : '' %>">
      </div>

      <div>
        <label class="control-label">Card Type</label>
        <%- _res = widgets.dropDownList(reqParams, "CardType", {
            VI: "VI",
            VISA: "VISA",
            Maestro: "Maestro"
          },
          {"class": "form-control input-sm"}) %>
      </div>

      <div>
        <label class="control-label">Card Number</label>
        <input type="number" name="CardNumber" class="form-control input-sm" value="<%= reqParams.CardNumber ? reqParams.CardNumber : '' %>">
      </div>

      <div>
        <label class="control-label">Expiration Date</label>
        <input type="text" name="ExpiryDate" class="form-control input-sm" maxlength="7" placeholder="MM/YYYY" value="<%= reqParams.ExpiryDate ? reqParams.ExpiryDate : '' %>">
      </div>

      <div>
        <label class="control-label">CVV</label>
        <input type="text" name="CVV" class="form-control input-sm" value="<%= reqParams.CVV ? reqParams.CVV : '' %>">
      </div>

    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom" style="min-height:33px !important; margin-bottom: 0 !important;">
    <div class="container-fluid">
      <div class="buy-button"><button id="booking_button" class="btn btn-sm btn-primary btn-block center-block" style="max-width: 100%">
          <% if (!reqParams.special) { %>
        BOOK FOR <%= orderPrice %>
          <%} else {%>
          SUBMIT
          <% } %>
      </button></div>
    </div>
  </nav>

</form>

<% if (reqParams.special) { %>

<div class="modal fade" id="user-price-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="color:red;">Choose your price</h4>
      </div>
      <div class="modal-body">
        <p>Continuous search for better price.</p>
        <form role="form" id="form_user_price">
          <div class="form-group">
            <label for="user_price">Price you commit for this itinerary:</label>
            <input type="text" class="form-control" id="user_price" name="user_price" placeholder="Enter your price">
          </div>
          <div class="form-group">
            <label for="user_timelimit">Time limit for getting the fare:</label>
            <input type="text" class="form-control" id="user_timelimit" name="user_timelimit" placeholder="Enter days">
          </div>
          <button type="submit" class="btn btn-default btn-primary btn-block" id="user-price-submit">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal" onclick="window.history.back();return false;"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>
  </div>
</div>
<% } %>

<style>
    body {
      padding-bottom: 33px;
      padding-top: 70px;
    }
</style>
