<%
/* global reqParams */
  var orderPrice;
%>
<form action="/booking?searchId=<%= reqParams.searchId %>" method="post" id="form_booking" class="booking">

  <!-- hacky enforce conventions on the unconventional nav structure
       Deborah will fix later -->
       <style>
        .navbar-toggle {
          display: none;
        }
        .navbar-brand {
          padding-top: 0;
        }
       </style>
  <!-- ----------------------- -->   
       

  <!-- ---------- flight unit ---------- -->
  
  <div id="searchResultData" class="flight-unit">
    <% iterator = 0; %>
    <% if (order.length) { %>
    <% order.forEach(function (sRes, i) {
      sRes.price = parseFloat(sRes.price).toFixed(2);
      orderPrice = (sRes.currency == 'USD') ? "$"+sRes.price : sRes.price +' '+ sRes.currency;
    %>
    <div id="<%= sRes.id %>" for="cli<%= i %>" class="itinerary <%= sRes.filterClass %>" smart="<%= sRes.smartRank %>">
      <div class="wrapper">

      <div class="row title">
        <div class="itinerary-airline">
          <span class="airline-text"><%= sRes.citypairs[0].from.airline %> </span>
        </div>
        <div class="itinerary-price">
          <%= orderPrice %>
        </div>
      </div>

      <div class="itinerary-info">
          <% sRes.citypairs.forEach(function (pair) { %>
          <div class="itinerary-info">
            <div class="col-xs-3 departLoc">
              <%= pair.from.time %> <%= pair.from.code %>
            </div>
            <div class="col-xs-2 connections text-center">
            
              <% if (pair.noOfStops > 0) { %>
                <span class="arr-connects">
                  <span class="connections"><%= pair.noOfStops %></span>
               </span>
              <% } else { %> 
                <span class="arr-connects-none">
              <% } %>
            </div>
            
            <div class="col-xs-3 arriveLoc"><%= pair.to.time %> <%= pair.to.code %></div>
            <div class="col-xs-3 duration"><%= pair.duration %></div>
          </div>
          <% }); %>
      </div>

      <div class="row collapse" id="cli<%= i %>"><div class="col-xs-12"><% sRes.citypairs.forEach(function (pair, c) { %>
      <div class="row" style="margin-top: 4px;">
        <div class="col-sm-12">
          <strong><%= pair.direction %></strong>
        </div>
      </div>
      <% pair.flights.forEach(function (flight, j) { %>
      <% if (j > 0) {%>
      <div class="row" style="margin-top: 4px;">
        <div class="col-xs-6 text-nowrap">&#10162; <%= __('Change planes') %></div>
        <div class="col-xs-2"><%= pair.stops[j-1].code %></div>
        <div class="col-xs-4 text-right"><%= pair.stops[j-1].duration %></div>
      </div>
      <% } %>
      <div class="row" style="margin-top: 4px;">
        <div class="col-xs-3 text-nowrap"><strong>&#9992; <%= flight.abbrNumber %></strong></div>
        <div class="col-xs-5"><strong><%= flight.airline %></strong></div>
        <div class="col-xs-4 text-right"><%= flight.duration %><% if (flight.noOfStops > 0) { %>
          <span class="hidden-xs small text-danger">+<%= flight.noOfStops + (parseInt(flight.noOfStops) > 1 ? __(' stops') : __(' stop')) %></span>
        <% } %></div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>&#8599; <%= flight.from.time %></strong></div>
        <div class="col-xs-3"><%= sails.moment(flight.from.date).format('MM/DD/YYYY') %></div>
        <div class="col-xs-3"><%= flight.from.code %></div>
      </div><% if (flight.noOfStops > 0) { %><% flight.stops.forEach(function (stop) { %>
      <div class="row">
        <div class="col-xs-6 text-nowrap">&#9675; <%= __('Intermediate stop') %></div>
        <div class="col-xs-2"><%= stop.code %></div>
        <div class="col-xs-4 text-right"><%= stop.duration %></div>
      </div><% }); %><% } %>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>&#8600; <%= flight.to.time %></strong></div>
        <div class="col-xs-3"><%= sails.moment(flight.to.date).format('MM/DD/YYYY') %></div>
        <div class="col-xs-3"><%= flight.to.code %></div>
      </div>

      <% if (flight.merchandising && flight.merchandising.length) { %>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-xs btn-info btn-block mymorebutton" id="mymorebtn<%= iterator %>_<%= c %>" role="button" for="<%= iterator %>_<%= c %>"><%= __('more') %></button>
        </div>
      </div>
      <div class="row hidden mymorecontent<%= iterator %>_<%= c %>">
        <div class="panel panel-default">
          <div class="panel-heading">Merchandising Information</div>
          <div class="panel-body">
            <ul>
              <% flight.merchandising.forEach(function (item) { %>
              <li><%= item %></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
      <% } %>
      <% }); %>
    <% }); %></div></div>

      <% iterator++ %>
      </div>
    </div> <!-- ends itinerary -->
    <% }); %>
    <% } %>
  </div>
  <!-- ---------- flight unit ---------- -->
  
  <div id="user-time-limit-target-div" class="time-limit message hidden">
    <div class="copy">Time limit for getting the fare is <span id="user-time-limit-target"></span> day(s).</div>
  </div>

    <div class="form">
    <div class="ti">Billing</div>

      <input type="hidden" name="id" value="<%= reqParams.id %>">
      
        <label class="required">First Name</label>
        <input type="text" name="FirstName" class="form-control input-sm" placeholder="First Name" value="<%= reqParams.FirstName ? reqParams.FirstName : '' %>">

        <label class="required">Last Name</label>
        <input type="text" name="LastName" class="form-control input-sm" placeholder="Last Name"  value="<%= reqParams.LastName ? reqParams.LastName : '' %>">

        <label class="required">Gender</label>
        <%- _res = widgets.dropDownList(reqParams, "Gender", Profile.attr_gender, {"class": "form-control input-sm"}) %>

        <label class="required">Birthday</label>
        <input type="date" name="DateOfBirth" class="form-control input-sm" placeholder="YYYY-MM-DD" maxlength="10" value="<%= reqParams.DateOfBirth ? reqParams.DateOfBirth : '' %>">

        <label>Passenger Type</label>
        <%- _res = widgets.dropDownList(reqParams, "PaxType", Profile.attr_pax_type, {"class": "form-control input-sm"}) %>

        <label class="required">Address</label>
        <input type="text" name="Address1" class="form-control input-sm" value="<%= reqParams.Address1 ? reqParams.Address1 : '' %>">

        <label class="required">City</label>
        <input type="text" name="City" class="form-control input-sm" value="<%= reqParams.City ? reqParams.City : '' %>">

        <label class="required">State</label>
        <input type="text" name="State" class="form-control input-sm" value="<%= reqParams.State ? reqParams.State : '' %>">

        <label class="required">Zip Code</label>
        <input type="text" name="ZipCode" class="form-control input-sm" value="<%= reqParams.ZipCode ? reqParams.ZipCode : '' %>">

        <label class="required">Country</label>
        <input type="text" name="Country" class="form-control input-sm" value="<%= reqParams.Country ? reqParams.Country : '' %>">

        <label class="required">Card Type</label>
        <%- _res = widgets.dropDownList(reqParams, "CardType", {
            'VI' : 'VISA',
            'CA' : 'Master Card',
            'AX' : 'American Express',
            'DS' : 'Discover'
          },
          {"class": "form-control input-sm"}) %>

        <label class="required">Card Number</label>
        <input type="number" name="CardNumber" class="form-control input-sm" value="<%= reqParams.CardNumber ? reqParams.CardNumber : '' %>">

        <label class="required">Expiration Date</label>
        <input type="text" name="ExpiryDate" class="form-control input-sm" maxlength="7" placeholder="MM/YYYY" value="<%= reqParams.ExpiryDate ? reqParams.ExpiryDate : '' %>">

        <label class="required">CVV</label>
        <input type="text" name="CVV" class="form-control input-sm" value="<%= reqParams.CVV ? reqParams.CVV : '' %>">

    </div>

    <div class="buttons">
      <button id="booking_button" class="big-button">
          <% if (!reqParams.special) { %>
              Book for 
              <%= orderPrice %>
          <%} else {%>
              Submit
          <% } %>
      </button>
    </div>

</form>

<% if (reqParams.special) { %>

<div class="modal continuous-search" id="user-price-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="title-bar">
        <div class="close-x" onclick="window.history.back();return false;"></div>
        <div class="title">Choose Your Price</div>
      </div>
        
      <form role="form" id="form_user_price">
      
        <div class="modal-body">
          <div class="sub-title">Continuous search for better price.</div>
          
            <div class="form-group">
              <label class="required" for="user_price">Price you commit for this itinerary:</label>
              <input type="text" class="form-control input-sm" id="user_price" name="user_price" placeholder="Enter your price">
            </div>
            <div class="form-group">
              <label class="required" for="user_timelimit">Time limit for getting the fare:</label>
              <input type="text" class="form-control input-sm" id="user_timelimit" name="user_timelimit" placeholder="Enter days">
            </div>
          
        </div>
        
        <div class="buttons-bar double">
          <button type="button" class="big-button secondary" onclick="window.history.back();return false;">Cancel</button>
          <button type="submit" class="big-button" id="user-price-submit">Submit</button>
        </div>
      
      </form>
      
    </div>
  </div>
</div>
<% } %>
