<script>
  var InitData = {
    <% if (user) { %>
    user: {email:"<%= user.email %>", id: <%= user.id %>},
    <% } else { %>
    user: false,
    <% } %>
    page: "<%= page %>",
    defaultSearch: <%- JSON.stringify(defaultSearch) %>
  };
  var serviceClass = <%- JSON.stringify(serviceClass) %>;
</script>
<div id="spa-app"></div>
