
<form action="user/update" name="Profile" id="Profile" method="post">
<h2 class="form-signin-heading">Update profile</h2>
    <input type="text" name="firstName" class="form-control" placeholder="First Name" value="<%= Profile.firstName %>" required/>
    <input type="text" name="middleName" class="form-control" placeholder="Middle Name"  value="<%= Profile.middleName %>" />
    <input type="text" name="lastName" class="form-control" placeholder="Last Name"  value="<%= Profile.lastName %>"  required/>
    <input type="text" name="address" class="form-control" placeholder="Address"  value="<%= Profile.address %>" />

<!--In Case of Emergency Notify-->
    <input type="text" name="notifyContact.name" class="form-control" placeholder="In Case of Emergency Notify"  value="<%= Profile.notifyContact.name %>" />
    <input type="tel" name="notifyContact.phone" class="form-control" placeholder="Emergency Notify Phone" value="<%= Profile.notifyContact.phone %>"/>
<!--Name(s) of Family Members who might travel with you-->
    <div class="panel panel-default">
        <div class="panel-heading">Name(s) of Family Members who might travel with you</div>
        <div class="panel-body">

<% if (Profile.travelWith) {%>
<%  isFirst = true %>
  <% Profile.travelWith.forEach(function (travelWith) { %>
            <div id="travelWith">
            <hr <% if (isFirst) { %>class="hidden"<% } %>/>
            <input type="text" name="travelWith.firstName[]" class="form-control" placeholder="First Name" value="<%= travelWith.firstName %>"/>
            <input type="text" name="travelWith.lastName[]" class="form-control" placeholder="Last Name" value="<%= travelWith.firstName %>"/>
            <label>Gender</label>
            <select name="travelWith.gender[]" class="form-control">
                <option value=''<% if(!travelWith.gender) {%> selected<%} %>>please choose</option>
                <option value="Male"<% if(travelWith.gender == "Male") {%> selected<%} %>>Male</option>
                <option value="Female"<% if(travelWith.gender == "Female") {%> selected<%} %>>Female</option>
            </select>
            <label>Date of birth</label>
            <input type="date" name="travelWith.DateOfBirth[]" class="form-control" value="<%= travelWith.DateOfBirth %>"/>
            </div>
<%  isFirst = false %>
  <% }) %>
<% } %>

        </div>
        <div class="panel-footer">
            <button class="btn btn-xs btn-info btn-block mymoreprofilebutton" role="button" for="travelWith"><%= __('One more')%></button>
        </div>
    </div>
<!--Airlines Frequent Flier Miles Programs-->
    <div class="panel panel-default">
        <div class="panel-heading">Airlines Frequent Flier Miles Programs</div>
        <div class="panel-body">

<% if (Profile.milesPrograms) {%>
<%  isFirst = true %>
  <% Profile.milesPrograms.forEach(function (milesPrograms) { %>
            <div id="milesPrograms">
            <hr <% if (isFirst) { %>class="hidden"<% } %>/>
            <input type="text" name="milesPrograms.airlineName[]" class="form-control" placeholder="Airline Name" value="<%= milesPrograms.airlineName %>"/>
            <input type="text" name="milesPrograms.accountNumber[]" class="form-control" placeholder="Account Number" value="<%= milesPrograms.accountNumber %>"/>
            </div>
<%  isFirst = false %>
  <% }) %>
<% } %>

        </div>
        <div class="panel-footer">
            <button class="btn btn-xs btn-info btn-block mymoreprofilebutton" role="button" for="milesPrograms"><%= __('One more')%></button>
        </div>
    </div>
<!--Airline Club Lounge Memberships-->
    <div class="panel panel-default">
        <div class="panel-heading">Airline Club Lounge Memberships</div>
        <div class="panel-body">

<% if (Profile.loungeMembership) {%>
<%  isFirst = true %>
  <% Profile.loungeMembership.forEach(function (loungeMembership) { %>
            <div id="loungeMembership">
            <hr <% if (isFirst) { %>class="hidden"<% } %>/>
            <input type="text" name="loungeMembership.airlineName[]" class="form-control" placeholder="Airline Name" value="<%= loungeMembership.airlineName %>"/>
            <input type="text" name="loungeMembership.membershipNumber[]" class="form-control" placeholder=" Club Membership Number" value="<%= loungeMembership.membershipNumber %>"/>
            <label>Expiration Date</label>
            <input type="date" name="loungeMembership.expirationDate[]" class="form-control" value="<%= loungeMembership.expirationDate %>"/>
            </div>
<%  isFirst = false %>
  <% }) %>
<% } %>

        </div>
        <div class="panel-footer">
            <button class="btn btn-xs btn-info btn-block mymoreprofilebutton" role="button" for="loungeMembership"><%= __('One more')%></button>
        </div>
    </div>
<!--Employer-->
    <div class="panel panel-default">
        <div class="panel-heading">Employer</div>
        <div class="panel-body">
            <input type="text" name="employer.companyName" class="form-control" placeholder="Company Name" value="<%= Profile.employer.companyName %>"/>
            <input type="text" name="employer.address" class="form-control" placeholder="Address"  value="<%= Profile.employer.address %>"/>
            <input type="tel" name="employer.phone" class="form-control" placeholder="Phone number"  value="<%= Profile.employer.phone %>"/>
            <input type="text" name="employer.position" class="form-control" placeholder="Position Held"  value="<%= Profile.employer.position %>"/>
            <label>Salary Range</label>
            <select name="employer.salary" class="form-control">
                <option value='' <% if(!Profile.employer.salary) {%>selected<%} %>>please choose</option>
                <option value="$50K - $100K"<% if(Profile.employer.salary == '$50K - $100K') {%> selected<%} %>>$50K - $100K</option>
                <option value="$100K - $200K"<% if(Profile.employer.salary == '$100K - $200K') {%> selected<%} %>>$100K - $200K</option>
                <option value="$200K - $300K"<% if(Profile.employer.salary == '$200K - $300K') {%> selected<%} %>>$200K - $300K</option>
                <option value="Over $300K"<% if(Profile.employer.salary == 'Over $300K') {%> selected<%} %>>Over $300K</option>
            </select>
            <label>Total Household Income</label>
            <select name="employer.income" class="form-control">
                <option value='' <% if(!Profile.employer.income) {%>selected<%} %>>please choose</option>
                <option value="$50K - $100K"<% if(Profile.employer.income == '$50K - $100K') {%> selected<%} %>>$50K - $100K</option>
                <option value="$100K - $200K"<% if(Profile.employer.income == '$100K - $200K') {%> selected<%} %>>$100K - $200K</option>
                <option value="$200K - $300K"<% if(Profile.employer.income == '$200K - $300K') {%> selected<%} %>>$200K - $300K</option>
                <option value="Over $300K"<% if(Profile.employer.income == 'Over $300K') {%> selected<%} %>>Over $300K</option>
            </select>
        </div>
    </div>
    <label>Ethnicity (Race)</label>
    <select name="ethnicity" class="form-control">
        <option value='' <% if(!Profile.ethnicity) {%>selected<%} %>>please choose</option>
        <option value='European'<% if(Profile.ethnicity == 'European') {%> selected<%} %>>European</option>
        <option value='Mexican'<% if(Profile.ethnicity == 'Mexican') {%> selected<%} %>>Mexican</option>
        <option value='Latin American'<% if(Profile.ethnicity == 'Latin American') {%> selected<%} %>>Latin American</option>
        <option value='Eastern European'<% if(Profile.ethnicity == 'Eastern European') {%> selected<%} %>>Eastern European</option>
        <option value='South East Asian (India, Pakistan, Bangladesh)'<% if(Profile.ethnicity == 'South East Asian (India, Pakistan, Bangladesh)') {%> selected<%} %>>South East Asian (India, Pakistan, Bangladesh)</option>
        <option value='Chinese'<% if(Profile.ethnicity == 'Chinese') {%> selected<%} %>>Chinese</option>
        <option value='Asian'<% if(Profile.ethnicity == 'Asian') {%> selected<%} %>>Asian</option>
        <option value='African'<% if(Profile.ethnicity == 'African') {%> selected<%} %>>African</option>
        <option value='South Pacific'<% if(Profile.ethnicity == 'South Pacific') {%> selected<%} %>>South Pacific</option>
    </select>
<!--Preferred Airlines-->
    <div class="panel panel-default">
        <div class="panel-heading">Preferred Airlines</div>
        <div class="panel-body">

<% if (Profile.preferredAirlines) {%>
<%  isFirst = true %>
  <% Profile.preferredAirlines.forEach(function (preferredAirlines) { %>
            <div id="preferredAirlines">
            <hr <% if (isFirst) { %>class="hidden"<% } %>/>
            <label>Preferred Airlines type</label>
            <select name="preferredAirlines.travelType[]" class="form-control">
                <option value=''<% if(preferredAirlines.travelType) {%> selected<%} %>>please choose</option>
                <option value="Domestic Short Haul Trips"<% if(preferredAirlines.travelType == 'Domestic Short Haul Trips') {%> selected<%} %>>Domestic Short Haul Trips</option>
                <option value="Domestic Long Haul Flights"<% if(preferredAirlines.travelType == 'Domestic Long Haul Flights') {%> selected<%} %>>Domestic Long Haul Flights</option>
                <option value="International Flights"<% if(preferredAirlines.travelType == 'International Flights') {%> selected<%} %>>International Flights</option>
            </select>
            <input type="text" name="preferredAirlines.airlineName[]" class="form-control" placeholder="Airline Name"/>
            </div>
<%  isFirst = false %>
  <% }) %>
<% } %>

        </div>
        <div class="panel-footer">
            <button class="btn btn-xs btn-info btn-block mymoreprofilebutton" role="button" for="preferredAirlines"><%= __('One more')%></button>
        </div>
    </div>
<!--Preferred Class of Service-->
<!--todo: rethink this part mb better put 2 selects + more button-->
    <div class="panel panel-default">
        <div class="panel-heading">Preferred Class of Service</div>
        <div class="panel-body">
            <label>Domestic for Personal or Leisure Travel</label>
            <select name="preferredClass.domesticPersonal" class="form-control">
                <option value=''<% if(!Profile.preferredClass.domesticPersonal) {%> selected<%} %>>please choose</option>
                <option value="First"<% if(Profile.preferredClass.domesticPersonal == "First") {%> selected<%} %>>First</option>
                <option value="Business"<% if(Profile.preferredClass.domesticPersonal == "Business") {%> selected<%} %>>Business</option>
                <option value="Premium Economy"<% if(Profile.preferredClass.domesticPersonal == "Premium Economy") {%> selected<%} %>>Premium Economy</option>
                <option value="Economy"<% if(Profile.preferredClass.domesticPersonal == "Economy") {%> selected<%} %>>Economy</option>
            </select>
            <label>Domestic for Business Travel</label>
            <select name="preferredClass.domesticBusiness" class="form-control">
                <option value=''<% if(!Profile.preferredClass.domesticBusiness) {%> selected<%} %>>please choose</option>
                <option value="First"<% if(Profile.preferredClass.domesticBusiness == "First") {%> selected<%} %>>First</option>
                <option value="Business"<% if(Profile.preferredClass.domesticBusiness == "Business") {%> selected<%} %>>Business</option>
                <option value="Premium Economy"<% if(Profile.preferredClass.domesticBusiness == "Premium Economy") {%> selected<%} %>>Premium Economy</option>
                <option value="Economy"<% if(Profile.preferredClass.domesticBusiness == "Economy") {%> selected<%} %>>Economy</option>
            </select>
            <label>International for Personal or Leisure Travel</label>
            <select name="preferredClass.internationalPersonal" class="form-control">
                <option value=''<% if(!Profile.preferredClass.internationalPersonal) {%> selected<%} %>>please choose</option>
                <option value="First"<% if(Profile.preferredClass.internationalPersonal == "First") {%> selected<%} %>>First</option>
                <option value="Business"<% if(Profile.preferredClass.internationalPersonal == "Business") {%> selected<%} %>>Business</option>
                <option value="Premium Economy"<% if(Profile.preferredClass.internationalPersonal == "Premium Economy") {%> selected<%} %>>Premium Economy</option>
                <option value="Economy"<% if(Profile.preferredClass.internationalPersonal == "Economy") {%> selected<%} %>>Economy</option>
            </select>
            <label>International for Business Travel</label>
            <select name="preferredClass.internationalBusiness" class="form-control">
                <option value=''<% if(!Profile.preferredClass.internationalBusiness) {%> selected<%} %>>please choose</option>
                <option value="First"<% if(Profile.preferredClass.internationalBusiness == "First") {%> selected<%} %>>First</option>
                <option value="Business"<% if(Profile.preferredClass.internationalBusiness == "Business") {%> selected<%} %>>Business</option>
                <option value="Premium Economy"<% if(Profile.preferredClass.internationalBusiness == "Premium Economy") {%> selected<%} %>>Premium Economy</option>
                <option value="Economy"<% if(Profile.preferredClass.internationalBusiness == "Economy") {%> selected<%} %>>Economy</option>
            </select>
        </div>
    </div>

    <label>Ethnicity (Race)</label>
    <select name="preferredSeat" class="form-control">
        <option value=''<% if(!Profile.preferredSeat) {%> selected<%} %>>please choose</option>
        <option value='Window'<% if(Profile.preferredSeat == 'Window') {%> selected<%} %>>Window</option>
        <option value='Aisle'<% if(Profile.preferredSeat == 'Aisle') {%> selected<%} %>>Aisle</option>
        <option value='Exit Row'<% if(Profile.preferredSeat == 'Exit Row') {%> selected<%} %>>Exit Row</option>
    </select>
<style>
    body { padding-bottom: 70px; }
</style>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <button type="submit" class="btn btn-lg btn-primary btn-block" >Update</button>
      </div>
    </nav>
</div>
</form>
