<%
/* global profile_fields */
 %>
<div id="onlynavbar" page="userupdate"></div>
<form action="user/update" name="Profile" id="Profile" method="post" class="form profile">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div id="UserProfile"></div>

    <div class="button-holder">
      <button type="submit" class="big-button" >Update</button>
    </div>

  </div>

</form>

<script type="text/javascript">
    <% if (typeof profile_fields == 'object' ) {%>
    UserProfileData = <%- JSON.stringify(profile_fields) %>;
    <% } else { %>
    UserProfileData = {};
    <% } %>
    UserProfileStructure = {
      gender: <%- JSON.stringify(Profile.attr_gender) %>
    };
    UserProgramsStructure = {
      travel_type: <%- JSON.stringify(Profile.attr_travel_type) %>
    };
    var NavBarInit = {
      user: {email:"<%= user.email %>", id: <%= user.id %>}
    };
</script>
