<div class="swiper-container">
  <div id="tiles" class="swiper-wrapper">
    <% for(var name in tiles) {
      var tile = tiles[name];
      if (tile.name == 'Duration' && searchParams.returnDate) {tile.name += '&#8644;'} %>
    <div class="swiper-slide">
      <div class="mybucket" id="<%= tile.id%>">
        <div id="<%= __(tile.id)%>"  class="mycustomtab" ><%= __(tile.name)%></div>
        <ul class="list-group" style='margin-bottom:0px;max-height:140px;overflow:auto'>
          <% tile.filters.forEach( function (filter) {
          if (parseInt(filter.count) > 0) {  %>
          <li for='<%= filter.id%>' style='white-space: nowrap;overflow: hidden;text-overflow: ellipsis;' class="list-group-item"><%- filter.title%><span class="badge" style="position:absolute;right:0; background-color:transparent;color: rgba(16, 23, 66, 0.4);"></span></li>
          <% }
          }); %>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
</div>
