<form action="/result" method="post" id="search_form" >
  <input type="hidden" name="originAirport" id="originAirport" value="<%= defaultParams.DepartureLocationCode %>"/>
  <input type="hidden" name="destinationAirport" id="destinationAirport" value="<%= defaultParams.ArrivalLocationCode %>"/>
  <input type="hidden" name="departureDate" value="<%= defaultParams.departureDate %>"/>
  <input type="hidden" name="returnDate" value="<%= defaultParams.returnDate %>"/>
  <input type="hidden" name="preferedClass" id="preferedClass" value="<%
  if(_.isEmpty(defaultParams.CabinClass)) {
    %>E<%
  } else {
    %><%= defaultParams.CabinClass%><%
  }
   %>">
  <input type="hidden" name="passengers" id="passengers" value="1">

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top"  style="border:0;margin-top:50px;z-index:10;">
      <div class="container-fluid">
        <div class="flight-type-form">
          <div class="row">
            <div id="one_way" class="col-xs-4 flight-type-item active-choice"><%= __('One way')%></div>
            <div id="round_trip" class="col-xs-4 flight-type-item"><%= __('Round trip')%></div>
            <div id="multi_city" class="col-xs-4 flight-type-item"><%= __('Multi city')%></div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="flight-direction">
    <div class="row text-center" style="padding-top:70px; left:50%; width:300px;margin-left: -150px;position: fixed;">
      <div id="from-area" class="col-xs-5 flight-direction-item"><span>+</span>
        <div class="flight-direction-item-from-to"><%=__('from')%></div>
      </div>
      <div id="from-area-selected" class="col-xs-5 flight-direction-item-selected hidden">
        <div class="flight-direction-item-from-to"><%=__('from')%></div>
        <span id="from-airport-selected"></span>
        <div id="from-city-selected" class="flight-direction-item-from-to-city"></div>
      </div>
      <div class="col-xs-2 flight-direction-item-arrow">&rarr;</div>
      <div id="to-area" class="col-xs-5 flight-direction-item"><span>+</span>
        <div class="flight-direction-item-from-to"><%=__('to')%></div>
      </div>
      <div id="to-area-selected" class="col-xs-5 flight-direction-item-selected hidden">
        <div class="flight-direction-item-from-to"><%=__('to')%></div>
        <span id="to-airport-selected"></span>
        <div  id="to-city-selected" class="flight-direction-item-from-to-city"></div>
      </div>
      <div class="col-xs-5 flight-direction-item-comming-soon hidden"><%= __('Comming soon')%></div>
    </div>
  </div>

  <div class="flight-date-info row">
    <div class="flight-date-info-item">+
      <div class="flight-date-info-item-depart"><%=__('depart')%></div>
    </div>
    <div class="flight-date-info-item sel hide container-fluid" style="font-size: 14px; padding-top: 0; text-align: left; border-right: 2px solid white;">
      <div class="row" style="margin: 0">
        <div class="col-xs-12" style="padding: 15px; font-family: WhitneyHTF-MediumCondensed; font-size: 16px; line-height: 1.1; letter-spacing: 0.1px; color: rgba(16, 23, 66, 0.4); text-transform: uppercase;">
          <%=__('depart')%>
        </div>
      </div>
      <div class="row" style="margin: 0">
        <div class="col-xs-7 text-center" style="font-family: WhitneyHTF-MediumCondensed; font-size: 32px; line-height: 1.2; letter-spacing: 0.2px; color: #101742;">
          23 JAN
        </div>
        <div class="col-xs-5 text-center" style="font-family: WhitneyHTF-BookCondensed; font-size: 14px; line-height: 1.3; letter-spacing: 0.1px; color: #101742;">
          Saturday 2016
        </div>
      </div>
    </div>
    <div class="flight-date-info-item hide">+
      <div class="flight-date-info-item-return"><%=__('return')%></div>
    </div>
    <div class="flight-date-info-item sel hide container-fluid" style="font-size: 14px; padding-top: 0; text-align: left;">
      <div class="row" style="margin: 0">
        <div class="col-xs-12" style="padding: 15px; font-family: WhitneyHTF-MediumCondensed; font-size: 16px; line-height: 1.1; letter-spacing: 0.1px; color: rgba(16, 23, 66, 0.4); text-transform: uppercase;">
          <%=__('return')%>
        </div>
      </div>
      <div class="row" style="margin: 0">
        <div class="col-xs-7 text-center" style="font-family: WhitneyHTF-MediumCondensed; font-size: 32px; line-height: 1.2; letter-spacing: 0.2px; color: #101742;">
          23 JAN
        </div>
        <div class="col-xs-5 text-center" style="font-family: WhitneyHTF-BookCondensed; font-size: 14px; line-height: 1.3; letter-spacing: 0.1px; color: #101742;">
          Saturday 2016
        </div>
      </div>
    </div>
  </div>

  <div class="flight-additional-info row">
    <div class="flight-passengers-info-item">
      <div class="text-label"><%=__('passengers')%></div>
      <div class="text-picker"><span class="passengers_count">1</span> <span class="passengers_text"><%=__('Adult')%></span></div>
    </div>
    <div class="flight-class-info-item">
      <div class="text-label"><%=__('class')%></div>
      <div class="text-picker"><%=__('Economy')%></div>
    </div>
  </div>

<script>var serviceClass=<%- JSON.stringify(serviceClass) %></script>

  <button type="submit" class="btn btn-sm btn-primary btn-block search-button"><%=__('Search flights')%></button>
</form>
