
  <nav class="navbar navbar-default navbar-fixed-top searchform-top" >
    <div class="flight-type-form">
      <div class="row">
        <div id="voice_search" class="col-xs-4 flight-type-item"><i class="fa fa-microphone"></i></div>
        <div id="one_way" class="col-xs-4 flight-type-item"><%= __('One way')%></div>
        <div id="round_trip" class="col-xs-4 flight-type-item"><%= __('Round trip') %></div>
      </div>
    </div>
  </nav>

  <div class="row text-center flight-direction">
    <div class="col-xs-12 clearfix flight-direction-item-voice-search hidden">
      <div class="row clearfix">
        <div class="col-xs-10 voice-search-content si-wrapper">
          <textarea rows="3" name="voiceSearch" id="voiceSearchTextarea" class="voice-search-textarea si-input" placeholder="Enter/dictate a flight request"></textarea>
          <i class="fa fa-microphone si-btn" id="start_button"></i>
        </div>
        <div class="col-xs-2 voice-search-buttons">
          <i class="fa fa-search disabled" title="Search" id="voiceSearchFlight"></i>
          <i class="glyphicon glyphicon-remove disabled" title="Clear" id="voiceClearFlight"></i>
          <i class="fa fa-check disabled" title="Check" id="checkSearchFlight"></i>
        </div>
      </div>
    </div>
      <div class="col-xs-12 clearfix flight-direction-form">
        <div class="row clearfix">
          <div class="col-xs-6">
            <div id="from-area" class="flight-direction-item"><span>+</span>
              <div class="flight-direction-item-from-to"><%= __('from') %></div>
            </div>
            <div id="from-area-selected" class="flight-direction-item-selected hidden">
              <div class="flight-direction-item-from-to"><%= __('from') %></div>
              <div id="from-city-selected" class="flight-direction-item-from-to-city"></div>
              <div>
                <span id="from-airport-nearleft"></span> <span id="from-airport-selected"></span> <span id="from-airport-nearright"></span>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div id="to-area" class="flight-direction-item"><span>+</span>
              <div class="flight-direction-item-from-to"><%= __('to') %></div>
            </div>
            <div id="to-area-selected" class="flight-direction-item-selected hidden">
              <div class="flight-direction-item-from-to"><%= __('to') %></div>
              <div  id="to-city-selected" class="flight-direction-item-from-to-city"></div>
              <div>
                <span id="to-airport-nearleft"></span> <span id="to-airport-selected"></span> <span id="to-airport-nearright"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="flight-date-info row">
    <div class="flight-date-info-item dep col-xs-6 open-calendar">+
      <div class="flight-date-info-item-depart"><%= __('depart') %></div>
    </div>
    <div class="flight-date-info-item sel dep hide col-xs-6">
      <div class="row">
        <div class="col-xs-12 open-calendar">
          <span class="glyphicon glyphicon-calendar calendar"></span>
          <div class="direction"><%= __('depart') %></div>
          <div class="weekday"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7"><span class="tap-date"></span> <span class="tap-month"></span></div>
        <div class="col-xs-5 tap-year"></div>
      </div>
    </div>
    <div class="flight-date-info-item ret hide col-xs-6 open-calendar">+
      <div class="flight-date-info-item-return"><%= __('return') %></div>
    </div>
    <div class="flight-date-info-item sel ret hide col-xs-6">
      <div class="row">
        <div class="col-xs-12 open-calendar">
          <span class="glyphicon glyphicon-calendar calendar"></span>
          <div class="direction"><%= __('return') %></div>
          <div class="weekday"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7"><span class="tap-date"></span> <span class="tap-month"></span></div>
        <div class="col-xs-5 tap-year"></div>
      </div>
    </div>
  </div>

  <div class="flight-additional-info row">
    <div class="col-xs-12">
      <div class="flight-class-info-item row">
        <div class="text-label col-xs-6"><%= __('class') %></div>
        <div class="text-picker col-xs-6"><%= __('Economy') %></div>
      </div>
      <div class="flight-passengers-info-item row">
        <div class="text-label col-xs-6"><%= __('passengers') %></div>
        <div class="text-picker col-xs-6"><span class="passengers_count" id="passengers_count">One</span> <span class="passengers_text"><%=__('Adult')%></span></div>
      </div>
    </div>
  </div>

<script>var serviceClass = <%- JSON.stringify(serviceClass) %></script>

<form action="/result" method="post" id="search_form" >
  <input type="hidden" name="originAirport" id="originAirport" value="<%= defaultParams.DepartureLocationCode %>" city="<%= defaultParams.departCity ? defaultParams.departCity : '' %>"<% if (defaultParams.departNeighbors) { %> nearleft="<%= defaultParams.departNeighbors[0] ? defaultParams.departNeighbors[0].iata_3code : '' %>" nearright="<%= defaultParams.departNeighbors[1] ? defaultParams.departNeighbors[1].iata_3code : '' %>"<% } %>/>
  <input type="hidden" name="destinationAirport" id="destinationAirport" value="<%= defaultParams.ArrivalLocationCode %>" city="<%= defaultParams.arrivCity ? defaultParams.arrivCity : '' %>"<% if (defaultParams.arrivNeighbors) { %> nearleft="<%= defaultParams.arrivNeighbors[0] ? defaultParams.arrivNeighbors[0].iata_3code : '' %>" nearright="<%= defaultParams.arrivNeighbors[1] ? defaultParams.arrivNeighbors[1].iata_3code : '' %>"<% } %>/>
  <input type="hidden" name="departureDate" id="departureDate" value="<%= defaultParams.departureDate %>"/>
  <input type="hidden" name="returnDate" id="returnDate" value="<%= defaultParams.returnDate %>"/>
  <input type="hidden" name="preferedClass" id="preferedClass" value="<%= _.isEmpty(defaultParams.CabinClass) ? 'E' : defaultParams.CabinClass %>"/>
  <input type="hidden" name="topSearchOnly" id="topSearchOnly" value="0"/>
  <input type="hidden" name="passengers" id="passengers" value="<%= _.isEmpty(defaultParams.passengers) ? '1' : defaultParams.passengers %>"/>
  <input type="hidden" name="flightType" id="flightType" value="<%= _.isEmpty(defaultParams.flightType) ? 'round_trip' : defaultParams.flightType.toLowerCase() %>"/>
  <button type="submit" class="btn btn-sm btn-primary btn-block search-button"><%= __('All flights') %></button>
  <button type="submit" class="btn btn-sm btn-primary btn-block search-top-button"><%= __('Top flights') %></button>
</form>

  <!-- Modal -->
  <div id="searchBanner" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          We are searching best priced flights and constructing smart filters, to help you select your perfect flight.
        </div>
      </div>

    </div>
  </div>
  <div id="landscapeMode" class="modal fade text-center" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          Please return your device in vertical (portrait) mode
        </div>
      </div>

    </div>
  </div>

  <div id="planePath" class="hidden" style="position:absolute;left:0;bottom:0;z-index:99999; width:100%;height: 50px; background-color: white;">
    <div id="plane" style="position:absolute;left:0;bottom:0;z-index:99999">
      <img src="/images/plane.jpg">
    </div>
  </div>
