<!--<style>
  div {
   border: 1px dotted red;
  }
</style>-->
<% if (searchParams) { %>
<!--<div class="row bg-info">
  <div class="col-xs-8"><span class="small"></span>
    <%= __('Flight from') %> <%=searchParams.originAirport%>
    <%= __('to') %> <%=searchParams.destinationAirport%>
<% if (searchParams.departureDate) { %>
      <br/><%= __('at') %> <%=searchParams.departureDate%>
<% } %>
<% if (searchParams.returnDate) { %>
      <br/><%= __('return at') %> <%=searchParams.returnDate%>
<% } %>
  </div>
  <div class="col-xs-4"><a href="/search" class="btn btn-sm btn-primary btn-block" role="button" style="margin:1em;"><%= __('Back')%></a></div>
</div>-->
<% } %>
<% if (searchResult) { %>
<style>
  .mycustomtab {
    border-bottom:3px solid white;
    border-radius:0;
  }
  .mycustomtab:active,
  .mycustomtab.active {
    border-bottom:3px solid green;
  }
</style>
<div class="row" style="margin-right:-25px;margin-left:-25px;padding:0px;">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="col-xs-4" style="padding:0;">
        <div class="mybucket">
          <a id="mydefaultid" href="/result#price"  class="btn btn-default btn-block mycustomtab" role="button"><%= __('Price')%></a>
          <button class="btn  btn-xs" type="button">$100-$200<span class="badge">49</span></button>
          <button class="btn  btn-xs" type="button">$200-$300<span class="badge">39</span></button>
          <button class="btn  btn-xs" type="button">$300-$400<span class="badge">19</span></button>
          <button class="btn  btn-xs" type="button">$400-$600<span class="badge">27</span></button>
        </div>
      </div>

      <div class="mybucket" style="">
        <div class="col-xs-4" style="padding:0;">
          <a href="/result#dep_arr"  class="btn btn-default btn-block mycustomtab" role="button"><%= __('Departure')%></a>
          <button class="btn btn-xs" type="button">0-6am<span class="badge">49</span></button>
          <button class="btn  btn-xs" type="button">6am-12pm<span class="badge">39</span></button>
          <button class="btn  btn-xs" type="button">12pm-8pm<span class="badge">19</span></button>
          <button class="btn  btn-xs" type="button">8pm-0<span class="badge">27</span></button>
        </div>
      </div>

      <div class="mybucket" style="">
        <div class="col-xs-4" style="padding:0;">
          <a href="/result#dep_arr"  class="btn btn-default btn-block mycustomtab" role="button"><%= __('Arrival')%></a>
          <button class="btn btn-xs" type="button">0-6am<span class="badge">49</span></button>
          <button class="btn  btn-xs" type="button">6am-12pm<span class="badge">39</span></button>
          <button class="btn  btn-xs" type="button">12pm-8pm<span class="badge">19</span></button>
          <button class="btn  btn-xs" type="button">8pm-0<span class="badge">27</span></button>
        </div>
      </div>

    </div>

    <div class="item">

      <div class="col-xs-4" style="padding:0;">
        <div class="mybucket">
          <a id="mydefaultid" href="/result#price"  class="btn btn-default btn-block mycustomtab" role="button"><%= __('Airline')%></a>
          <button class="btn  btn-xs" type="button">China Eastern<span class="badge">49</span></button>
          <button class="btn  btn-xs" type="button">Virgin America<span class="badge">39</span></button>
          <button class="btn  btn-xs" type="button">Tiara Air<span class="badge">19</span></button>
          <button class="btn  btn-xs" type="button">Fly BVI<span class="badge">27</span></button>
        </div>
      </div>

      <div class="mybucket" style="">
        <div class="col-xs-4" style="padding:0;">
          <a href="/result#dep_arr"  class="btn btn-default btn-block mycustomtab" role="button"><%= __('Merchandising')%></a>
          <button class="btn btn-xs" type="button">Free WiFi <span class="badge">49</span></button>
          <button class="btn  btn-xs" type="button">Priority boarding<span class="badge">39</span></button>
          <button class="btn  btn-xs" type="button">In seat video<span class="badge">19</span></button>
          <button class="btn  btn-xs" type="button">In seat audio<span class="badge">27</span></button>
          <button class="btn  btn-xs" type="button">10kg luggage<span class="badge">27</span></button>
        </div>
      </div>

      <div class="mybucket" style="">
        <div class="col-xs-4" style="padding:0;">
          <a href="/result#duration" class="btn btn-default btn-block mycustomtab" role="button"><%= __('Duration')%></a>
          <button class="btn btn-xs" type="button">3h-6h<span class="badge">49</span></button>
          <button class="btn  btn-xs" type="button">6h-10h<span class="badge">39</span></button>
          <button class="btn  btn-xs" type="button">10h-12h<span class="badge">19</span></button>
          <button class="btn  btn-xs" type="button">12h-14h<span class="badge">27</span></button>
        </div>
      </div>

    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="max-width:20px;">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <!--<span class="sr-only">Previous</span>-->
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="max-width:20px;">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <!--<span class="sr-only">Next</span>-->
  </a>
</div>

</div>


<div class="row">
  <% iterator = 0; %>
  <% searchResult.forEach(function (sRes) { %>
  <div class="col-md-12" style="padding-bottom:10px; border-top: 1px solid gray;background-color:#eee">

    <div class="row">
      <div class="col-xs-6" style="padding: 2px;"><a href='/order' class="btn-success btn-sm">Buy 
        <% if(sRes.itinerary.currency == 'USD') { %>
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span><%= sRes.itinerary.price %> <% } else { %><%= sRes.itinerary.currency %><% } %></a></div>
      <div class="col-xs-6"><span class="text-muted  pull-right"><%= sRes.itinerary.carier %></span></div>
    </div>

    <div class="row">
      <div class="col-xs-6"><%= sRes.itinerary.departureTime %> - <%= sRes.itinerary.arrivalTime %><br/>
      <%= sRes.itinerary.flightTime %>
    <% if (sRes.itinerary.stops > 0) { %>
      <span class="text-danger">+<%= sRes.itinerary.stops + __(' stops')%></span>
    <% } %>
      </div>
      <div class="col-xs-6"><span class="pull-right"><strong><%= sRes.itinerary.originAirport %></strong><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><strong><%= sRes.itinerary.destinationAirport %></strong></span></div>
    </div>

    <div class="row">
      <div class="col-xs-8"><span class="small"><%= sRes.itinerary.ticketType %> - <%= sRes.itinerary.planeType %></span></div>
      <div class="col-xs-4">
    <% if (sRes.itinerary.merchandising) { %>
        <button class="btn btn-xs btn-info btn-block mymorebutton" role="button" for="<%= iterator %>"><%= __('more')%></button>
    <% } %>
      </div>
    </div>
    <% if (sRes.itinerary.merchandising) { %>
    <div class="row hidden mymorecontent<%= iterator %>">
      <div class="panel panel-default">
        <div class="panel-heading">Merchandising Information</div>
        <div class="panel-body">
          <ul>
          <% sRes.itinerary.merchandising.forEach(function (item) { %>
            <li><%= item %></li>
          <% }) %>
          </ul>
        </div>
      </div>
    </div>
    <% } %>

  </div>

  <% iterator++ %>

  <% }) %>
    <a href="#"  class="btn btn-lg btn-primary btn-block" role="button"><%= __('More') %></a>
</div>
<% } else { %>
    <div class="row"><p class="lead"><%= __('Avaea can not find anything') %></p></div>
    <a href="/search"  class="btn btn-lg btn-primary btn-block" role="button"><%= __('Back to search') %></a>
<% } %>
