<% if (typeof searchResult != 'undefined') {%>
<div class="container">
  <nav id="tiles_ui" class="navbar navbar-default navbar-fixed-top"  style="margin-top:50px;z-index:10;">
    <div class="container-fluid">
      <% if (typeof timelog != 'undefined' && timelog) {%>
      <div class="alert alert-danger hidden-xs" role="alert" id="timeAlert">
        <p class="text-info" style="color: grey"><%=timelog%></p>
      </div>
      <% } %>
      <%- partial('bucket')%>
    </div>
  </nav>
</div>

<div class="">
  <% iterator = 0; %>
  <% if (searchResult.length) { %>
  <% searchResult.forEach(function (sRes, i) { %>

<div id="<%= sRes.id %>" for="cli<%=i%>" class="row itinerary <%= sRes.filterClass %>" style="padding-bottom:10px; border-top: 1px solid gray;background-color:#eee">

  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12" style="padding: 2px;">
        <% if(sRes.currency == 'USD') { %>
        $<%= sRes.price %> <% } else { %><%= sRes.price %> <%= fare.currency %><% } %>
      </div>
    </div>
    <% sRes.citypairs.forEach(function (pair) { %>
    <div class="row">
      <div class="col-xs-8 col-sm-8"><strong><%= pair.from.time %></strong> <%= pair.from.code %><% if (pair.noOfStops > 0) { %><span class="visible-xs-inline">&rarr;<small><%=pair.noOfStops%></small></span><% } %>&rarr;<strong><%= pair.to.time %></strong> <%= pair.to.code %></div>
      <div class="col-xs-4 col-sm-2 text-right"><%= pair.duration %></div>
      <div class="hidden-xs col-sm-2 text-right"><% if (pair.noOfStops > 0) { %>
      <%= pair.noOfStops + (parseInt(pair.noOfStops) > 1 ? __(' stops') : __(' stop')) %> (<%= pair.stopsCodes.join(', ') %>)
      <% } else { %>
      <%= __(' nonstop') %>
      <% } %></div>
    </div>
    <% }); %>
    <div class="row collapse" id="cli<%=i%>"><div class="col-xs-12">
    <% sRes.citypairs.forEach(function (pair) { %>
    <div class="row" style="margin-top: 4px;">
      <div class="col-sm-12">
        <strong><%= pair.direction %></strong>
      </div>
    </div>
      <% pair.flights.forEach(function (flight, j) { %>

      <% if (j > 0) {%>
      <div class="row" style="margin-top: 4px;">
        <div class="col-xs-6 text-nowrap">&#10162; <%= __('Change planes') %></div>
        <div class="col-xs-2"><%= pair.stops[j-1].code %></div>
        <div class="col-xs-4 text-right"><%= pair.stops[j-1].duration %></div>
      </div>
      <% } %>
      <div class="row" style="margin-top: 4px;">
        <div class="col-xs-3 text-nowrap"><strong>&#9992; <%= flight.abbrNumber %></strong></div>
        <div class="col-xs-5"><strong><%= flight.airline %></strong></div>
        <div class="col-xs-4 text-right"><%= flight.duration %><% if (flight.noOfStops > 0) { %>
          <span class="hidden-xs small text-danger">+<%= flight.noOfStops + (parseInt(flight.noOfStops) > 1 ? __(' stops') : __(' stop')) %></span>
          <% } %></div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>&#8599; <%= flight.from.time %></strong></div>
        <div class="col-xs-3"><%= sails.moment(flight.from.date).format('MM/DD/YYYY') %></div>
        <div class="col-xs-3"><%= flight.from.code %></div>
      </div><% if (flight.noOfStops > 0) { %><% flight.stops.forEach(function (stop) { %>
      <div class="row">
        <div class="col-xs-6 text-nowrap">&#9675; <%= __('Intermediate stop') %></div>
        <div class="col-xs-2"><%= stop.code %></div>
        <div class="col-xs-4 text-right"><%= stop.duration %></div>
      </div><% }); %><% } %>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>&#8600; <%= flight.to.time %></strong></div>
        <div class="col-xs-3"><%= sails.moment(flight.to.date).format('MM/DD/YYYY') %></div>
        <div class="col-xs-3"><%= flight.to.code %></div>
      </div>

    <% if (flight.merchandising) { %>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-xs btn-info btn-block mymorebutton" role="button" for="<%= iterator %>"><%= __('more')%></button>
        </div>
      </div>
      <div class="row hidden mymorecontent<%= iterator %>">
        <div class="panel panel-default">
          <div class="panel-heading">Merchandising Information</div>
          <div class="panel-body">
            <ul>
              <% fs.merchandising.forEach(function (item) { %>
              <li><%= item %></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    <% } %>
      <% }); %>
    <% }); %>
    </div></div>

  <% iterator++ %>
  </div>
</div>

  <% }) %>
  <% } %>
</div>

<style>
    body {
      padding-top: 200px;
    }
</style>

<button id="buy_button" class="btn btn-sm btn-primary btn-block center-block" style="position: fixed; bottom: 0px;width: 200px;left:50%; margin-left: -100px;" disabled>Order</button>


<% } else { %>
    <div class="alert alert-danger" role="alert"><%= __('Can not find anything') %></div>
    <a href="/search"  class="btn btn-lg btn-primary btn-block" role="button"><%= __('Back to search') %></a>
<% } %>
