<script>
  var InitResultData = {
    searchParams: <%- JSON.stringify(searchParams) %>,
    title: "<%= title %>",
    tiles: <%- JSON.stringify(tiles) %>,
    searchResultLength: <%- JSON.stringify(searchResult.length) %>,
    searchResult: <%- JSON.stringify(searchResult) %>,
    iconSpriteMap: <%- JSON.stringify(iconSpriteMap) %>,
    departure: <%- JSON.stringify(departure) %>,
    arrival: <%- JSON.stringify(arrival) %>
  };
</script>

<div id="resultpage" class="results"></div>

<form action="/buy" method="post" id="booking_form" >
  <input type="hidden" name="id" id="_id" value=""/>
  <input type="hidden" name="searchId" id="searchId" value="<%= searchId %>"/>
  <input type="hidden" name="passengers" id="passengers" value="<%= searchParams.passengers %>"/>
</form>

<script>
  var GlobalSearchResultCount = <%= (typeof searchResult != 'undefined') ? searchResult.length : 0  %>;
</script>
