<% if (searchResult) { %>

<div class="container">
  <nav id="tiles_ui" class="navbar navbar-default navbar-fixed-top"  style="margin-top:50px;z-index:10;">
    <div class="container-fluid">
      <%- partial('bucket') %>
    </div>
  </nav>
</div>

<div class="row">
  <% iterator = 0; %>
  <% if (searchResult.length) { %>
  <% searchResult.forEach(function (sRes) { %>


<div class="row itinerary <%= sRes.filterClass %>" style="padding-bottom:10px; border-top: 1px solid gray;background-color:#eee">



<!--<div class="row" style="padding-bottom:10px; border-top: 1px solid gray;background-color:#eee">-->
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12" style="padding: 2px;"><a href='/order' class="btn-success btn-sm">Buy
        <% if(sRes.currency == 'USD') { %>
        $<%= sRes.price %> <% } else { %><%= sRes.price %> <%= fare.currency %><% } %></a></div>
    </div>

    <% sRes.citypairs.forEach(function (pair, i) { %>
      <div class="row">
        <div class="col-sm-12"><strong><%= pair.from.code %>&rarr;<%= pair.to.code %></strong></div>
      </div>
      <% pair.flights.forEach(function (flight) { %>
      <div class="row">
        <div class="col-xs-2"><%= flight.number %></div>
        <div class="col-sm-1"><%= flight.from.code %>&rarr;<%= flight.to.code %></div>
        <div class="col-xs-6"><%= flight.airline %></div>
        <div class="col-sm-3"><span class="pull-right"><%= flight.from.time %> - <%= flight.to.time %></span></div>
      </div>
      <div class="row">
        <div class="col-sm-3"><span class="small">Booking Class: <%= flight.bookingClass %></span></div>
        <div class="col-sm-3"><span class="small">Cabin Class: <%= flight.cabinClass %></span></div>
        <div class="col-sm-6"><span class="small pull-right">
          Flight time: <%= flight.duration %>
          <% if (flight.noOfStops > 0) { %>
          <span class="text-danger">+<%= flight.noOfStops + __(' stops')%></span>
          <% } %></span>
        </div>
      </div>

    <% if (flight.merchandising) { %>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-xs btn-info btn-block mymorebutton" role="button" for="<%= iterator %>"><%= __('more')%></button>
        </div>
      </div>
      <div class="row hidden mymorecontent<%= iterator %>">
        <div class="panel panel-default">
          <div class="panel-heading">Merchandising Information</div>
          <div class="panel-body">
            <ul>
              <% fs.merchandising.forEach(function (item) { %>
              <li><%= item %></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    <% } %>
      <% }); %>
    <% }); %>

  <% iterator++ %>
  </div>
</div>





  <% }) %>
  <% } %>
</div>

<style>
    body {
      padding-bottom: 70px;
      padding-top: 200px;
    }
</style>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <a href='/order' class="btn btn-lg btn-primary btn-block" >Buy</a>
      </div>
    </nav>
</div>


<% } else { %>
    <div class="alert alert-danger" role="alert"><%= __('Can not find anything') %></div>
    <a href="/search"  class="btn btn-lg btn-primary btn-block" role="button"><%= __('Back to search') %></a>
<% } %>
