<% if (searchResult) { %>

<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top"  style="margin-top:50px;z-index:10;">
    <div class="container-fluid">
      <%- partial('bucket', {tiles: tiles}) %>
    </div>
  </nav>
</div>

<div class="row">
  <% iterator = 0; %>
  <% searchResult.forEach(function (sRes) { %>
  <div class="col-md-12" style="padding-bottom:10px; border-top: 1px solid gray;background-color:#eee">

    <div class="row">
      <div class="col-xs-6" style="padding: 2px;"><span class="btn-success btn-sm">
        <% if(sRes.itinerary.currency == 'USD') { %>
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span><%= sRes.itinerary.price %> <% } else { %><%= sRes.itinerary.currency %><% } %></span></div>
      <div class="col-xs-6"><span class="text-muted  pull-right"><%= sRes.itinerary.carier %></span></div>
    </div>

    <div class="row">
      <div class="col-xs-6"><%= sRes.itinerary.departureTime %> - <%= sRes.itinerary.arrivalTime %><br/>
      <%= sRes.itinerary.flightTime %>
    <% if (sRes.itinerary.stops > 0) { %>
      <span class="text-danger">+<%= sRes.itinerary.stops + __(' stops')%></span>
    <% } %>
      </div>
      <div class="col-xs-6"><span class="pull-right"><strong><%= sRes.itinerary.originAirport %></strong><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><strong><%= sRes.itinerary.destinationAirport %></strong></span></div>
    </div>

    <div class="row">
      <div class="col-xs-8"><span class="small"><%= sRes.itinerary.ticketType %> - <%= sRes.itinerary.planeType %></span></div>
      <div class="col-xs-4">
    <% if (sRes.itinerary.merchandising) { %>
        <button class="btn btn-xs btn-info btn-block mymorebutton" role="button" for="<%= iterator %>"><%= __('more')%></button>
    <% } %>
      </div>
    </div>
    <% if (sRes.itinerary.merchandising) { %>
    <div class="row hidden mymorecontent<%= iterator %>">
      <div class="panel panel-default">
        <div class="panel-heading">Merchandising Information</div>
        <div class="panel-body">
          <ul>
          <% sRes.itinerary.merchandising.forEach(function (item) { %>
            <li><%= item %></li>
          <% }) %>
          </ul>
        </div>
      </div>
    </div>
    <% } %>

  </div>

  <% iterator++ %>

  <% }) %>
</div>

<style>
    body {
      padding-bottom: 70px;
      padding-top: 200px;
    }
</style>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <a href='/order' class="btn btn-lg btn-primary btn-block" >Buy</a>
      </div>
    </nav>
</div>


<% } else { %>
    <div class="alert alert-danger" role="alert"><%= __('Can not find anything') %></div>
    <a href="/search"  class="btn btn-lg btn-primary btn-block" role="button"><%= __('Back to search') %></a>
<% } %>
